spring:
  datasource:
    url: ${POSTGRESQL_URI}
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

server:
  port: ${USER_PORT}
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL}
